.card {
    display: flex;
}

.avatar{
border-radius:  70px;
}

ul{
    list-style-type: none;

}
li {
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
p{
    font-weight: bold;
}